<% layout("/layouts/boilerplate") %>

<div class="row">
<div class="col-8 offset-2">
    <br>
    <h3>Create a new list...</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
       <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
        <div class="valid-feedback"> Title looks good!</div>
    </div>
        
        <div class="mb-3">
         <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="Enter the description" type="text" class="form-control" required></textarea>
        <div class="invalid-feedback"> Description must be short </div>
    </div>
        
        <!-- <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input name="listing[image]" placeholder="Enter the image URL/Link" type="text" class="form-control" >
        </div> -->

        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input name="listing[image]"  type="file" class="form-control" required >
            
            </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
        <input name="listing[price]" placeholder="Example: 1500"  class="form-control" required>
        <div class="invalid-feedback"> Price should be valid</div>
    </div>
       
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="Example: India" type="text" class="form-control" required>
        <div class="invalid-feedback">Country name should be valid</div>
    </div>
    </div>
       
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="Example: Varanasi" type="text" class="form-control" required>
        <div class="invalid-feedback">Location should be valid</div>
    </div>
        
        <button class="btn btn-dark add-btn">Add</button>
        <br>
    </form>
</div>
</div>