body{
    background-color: beige;
    font-family: "Plus Jakarta Sans", serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
.navbar{
    height: 5rem;
}
.fa-compass{
    color:#fe242d;
    font-size: 2rem;
    background-color: white;
}
.nav-link{
    color:#222222 !important;
}
.f-info-links a {
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover {
    text-decoration:underline;
}

.f-info-links, .f-info-socials,
.f-info-brand{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;

}


.f-info{
    text-align: center;
    width:100% !important;
    height:8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 10px !important;
    width:100% !important;
    object-fit: cover;
   margin-bottom: 1rem;
    box-shadow:5px 5px 8px black;
}

.card-body{
  padding: 0px !important;

}

.card-text{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
    box-shadow:2px 2px 5px black;
    transition:  0.35s ease-in-out 0.20s;
}

.card-img-overlay:hover{
    opacity: 0.2;
    border-radius: 10px;
    background-color: white;
    box-shadow:8px 8px 10px black;
    transform: translate(0px,0px);
    
}

.add-btn{
    background-color:#fe242d !important;
    border: none !important;
}

.edit-btn{
    background-color:#fe242d !important;
    border: none !important;
}

/* show Page */

.show-img{
    height: 30vh;
}

.btns{
    display:flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}